/*ini CSS */
.section-content {
background-color:coral;
color: white;
padding-top: 8px;
padding-bottom: 8px;
text-align: center;
}

.section-content>h3 {
    margin: 0px;
}

#switch-keliling {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: white;
    border: 0px;
    color: blue;
}

.formula-img {
    text-align: center;

}

input {
    background-color:beige;
    border: 1px solid coral;
    border-radius: 4px;
    width: 100%;
    padding: 4px;
    font-family: math;
}

form>button {
    padding: 18px;
    background-color: beige;
    border: 1px solid darksalmon;
    border-radius: 18px;
}

#reset-btn {
    background-color: coral;
    color: white;
}

#reset-btn:hover {
    background-color:darksalmon;
    color: white;
}